server{
	listen 443 ssl;
	listen [::]:443 ssl;

	ssl on;	
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_certificate /etc/ssl/rootCA.crt;
	ssl_certificate_key /etc/ssl/rootCA.key;	

	root /var/www/html;

	index index.php index.nginx-debian.html;

	server_name ${DOMAIN_NAME};
	
	location ~\.php$ {
		include fastcgi_params;
		include snippets/fastcgi-php.conf;
		fastcgi_pass 127.0.0.1:9000;
	}

}
